{
  "BasicInformation": {
    "CpsVersion": "0134",
    "FrequencyRange": "400-480",
    "HighFrequency": "480.00000",
    "LastProgrammedTime": "19-Nov-2017 15:52:26",
    "LowFrequency": "400.00000",
    "Model": "MD390"
  },
  "ButtonDefinitions": {
    "LongPressDuration": "1000"
  },
  "Channels": [
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "12.5",
      "ChannelMode": "Digital",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "TG99",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "GroupList1",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "U-VE2CRA DMR",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "444.40000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+5.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "12.5",
      "ChannelMode": "Digital",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "TG6",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "GroupList1",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "U-VE3STP DMR",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "2",
      "ReverseBurst": "On",
      "RxFrequency": "443.60000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+5.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "12.5",
      "ChannelMode": "Digital",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "TG99",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "GroupList1",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "433.4500 DMR",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "433.45000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "12.5",
      "ChannelMode": "Digital",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "TG99",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "GroupList1",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "441.0000 DMR",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "441.00000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "12.5",
      "ChannelMode": "Digital",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "TG99",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "GroupList1",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.0750 DMR",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.07500",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "12.5",
      "ChannelMode": "Digital",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "TG99",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "GroupList1",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.5000 DMR",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.50000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.0000 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.00000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.0125 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.01250",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.0250 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.02500",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.0375 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.03750",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.0500 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.05000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.0625 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.06250",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.0750 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.07500",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.0875 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.08750",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.1000 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.10000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.1125 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.11250",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.1250 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.12500",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.1375 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.13750",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.1500 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.15000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.1625 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.16250",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "None",
      "CtcssEncode": "None",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "446.1750 FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "446.17500",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+0.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    },
    {
      "AdmitCriteria": "Always",
      "AllowTalkaround": "Off",
      "Autoscan": "Off",
      "Bandwidth": "25",
      "ChannelMode": "Analog",
      "ColorCode": "1",
      "CompressedUdpDataHeader": "On",
      "ContactName": "None",
      "CtcssDecode": "100.0",
      "CtcssEncode": "100.0",
      "DataCallConfirmed": "Off",
      "Decode1": "Off",
      "Decode2": "Off",
      "Decode3": "Off",
      "Decode4": "Off",
      "Decode5": "Off",
      "Decode6": "Off",
      "Decode7": "Off",
      "Decode8": "Off",
      "DisplayPTTID": "Off",
      "EmergencyAlarmAck": "Off",
      "EmergencySystem": "None",
      "GPSSystem": "None",
      "GroupList": "None",
      "InCallCriteria": "Always",
      "LoneWorker": "Off",
      "Name": "U-VE2CRA FM",
      "Power": "High",
      "Privacy": "None",
      "PrivacyNumber": "1",
      "PrivateCallConfirmed": "Off",
      "QtReverse": "180",
      "ReceiveGPSInfo": "Off",
      "RepeaterSlot": "1",
      "ReverseBurst": "On",
      "RxFrequency": "443.30000",
      "RxOnly": "Off",
      "RxRefFrequency": "Low",
      "RxSignallingSystem": "Off",
      "ScanList": "None",
      "SendGPSInfo": "Off",
      "Squelch": "Normal",
      "Talkaround": "Off",
      "Tot": "300",
      "TotRekeyDelay": "0",
      "TxFrequencyOffset": "+5.00000",
      "TxRefFrequency": "Low",
      "TxSignallingSystem": "Off",
      "Vox": "Off"
    }
  ],
  "Contacts": [
    {
      "CallID": "99",
      "CallReceiveTone": "No",
      "CallType": "Group",
      "Name": "TG99"
    },
    {
      "CallID": "6",
      "CallReceiveTone": "No",
      "CallType": "Group",
      "Name": "TG6"
    }
  ],
  "GPSSystems": [
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    },
    {
      "DestinationID": "None",
      "GPSDefaultReportInterval": "Off",
      "GPSRevertChannel": "Current Channel"
    }
  ],
  "GeneralSettings": {
    "BacklightTime": "15",
    "CallAlertToneDuration": "Continue",
    "ChFreeIndicationTone": "Off",
    "DisableAllLeds": "Off",
    "DisableAllTones": "Off",
    "GroupCallHangTime": "3000",
    "IntroScreen": "Character String",
    "IntroScreenLine1": "{{ (ds "dmr").GeneralSettings.RadioID }}",
    "IntroScreenLine2": "{{ (ds "dmr").GeneralSettings.RadioName }}",
    "KeypadTones": "On",
    "LoneWorkerReminderTime": "10",
    "LoneWorkerResponseTime": "1",
    "MonitorType": "Open Squelch",
    "PcProgPassword": "",
    "PowerOnPassword": "00000000",
    "PrivateCallHangTime": "4000",
    "PwAndLockEnable": "Off",
    "RadioID": "{{ (ds "dmr").GeneralSettings.RadioID }}",
    "RadioName": "{{ (ds "dmr").GeneralSettings.RadioName }}",
    "RadioProgPassword": "00000000",
    "RxLowBatteryInterval": "120",
    "SaveModeReceive": "On",
    "SavePreamble": "On",
    "ScanAnalogHangTime": "1000",
    "ScanDigitalHangTime": "1000",
    "SetKeypadLockTime": "Manual",
    "TalkPermitTone": "Digital",
    "TxPreambleDuration": "300",
    "VoxSensitivity": "3"
  },
  "GroupLists": [
    {
      "Contact": [
        "TG99",
        "TG6"
      ],
      "Name": "GroupList1"
    }
  ],
  "MenuItems": {
    "Answered": "On",
    "Backlight": "On",
    "CallAlert": "On",
    "DisplayMode": "On",
    "Edit": "On",
    "EditList": "On",
    "Gps": "On",
    "HangTime": "10",
    "IntroScreen": "On",
    "KeyboardLock": "On",
    "LedIndicator": "On",
    "ManualDial": "On",
    "Missed": "On",
    "OutgoingRadio": "On",
    "PasswordAndLock": "On",
    "Power": "On",
    "ProgramKey": "On",
    "ProgramRadio": "On",
    "RadioCheck": "Off",
    "RadioDisable": "Off",
    "RadioEnable": "Off",
    "RemoteMonitor": "Off",
    "Scan": "On",
    "Squelch": "On",
    "Talkaround": "On",
    "TextMessage": "On",
    "ToneOrAlert": "On",
    "Vox": "On"
  },
  "NumberKey": [
    {
      "Contact": "None"
    },
    {
      "Contact": "None"
    },
    {
      "Contact": "None"
    },
    {
      "Contact": "None"
    },
    {
      "Contact": "None"
    },
    {
      "Contact": "None"
    },
    {
      "Contact": "None"
    },
    {
      "Contact": "None"
    },
    {
      "Contact": "None"
    },
    {
      "Contact": "None"
    }
  ],
  "OneTouch": [
    {
      "Call": "TG99",
      "CallType": "Text Message",
      "DTMF": "DTMF-2",
      "Encode": "=INVALID=",
      "Mode": "Digital",
      "TextMessage": "Hello"
    },
    {
      "Call": "TG99",
      "CallType": "Text Message",
      "DTMF": "DTMF-2",
      "Encode": "=INVALID=",
      "Mode": "Digital",
      "TextMessage": "Hello"
    },
    {
      "Call": "TG99",
      "CallType": "Text Message",
      "DTMF": "DTMF-2",
      "Encode": "=INVALID=",
      "Mode": "Digital",
      "TextMessage": "Hello"
    },
    {
      "Call": "TG99",
      "CallType": "Text Message",
      "DTMF": "DTMF-2",
      "Encode": "=INVALID=",
      "Mode": "Digital",
      "TextMessage": "Hello"
    },
    {
      "Call": "TG99",
      "CallType": "Text Message",
      "DTMF": "DTMF-2",
      "Encode": "=INVALID=",
      "Mode": "Digital",
      "TextMessage": "Hello"
    },
    {
      "Call": "TG99",
      "CallType": "Text Message",
      "DTMF": "DTMF-2",
      "Encode": "=INVALID=",
      "Mode": "Digital",
      "TextMessage": "Hello"
    }
  ],
  "PrivacySettings": {
    "BasicKey": [
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF",
      "FFFF"
    ],
    "EnhancedKey": [
      "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF",
      "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF",
      "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF",
      "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF",
      "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF",
      "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF",
      "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF",
      "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"
    ]
  },
  "RadioButtons": [
    {
      "Button": "Monitor"
    },
    {
      "Button": "Unassigned (default)"
    },
    {
      "Button": "Zone +"
    },
    {
      "Button": "Unassigned (default)"
    }
  ],
  "ScanLists": [
    {
      "Channel": [],
      "Name": "ScanList1",
      "PriorityChannel1": "None",
      "PriorityChannel2": "None",
      "PrioritySampleTime": "2000",
      "SignallingHoldTime": "500",
      "TxDesignatedChannel": "Last Active Channel"
    }
  ],
  "TextMessages": [
    {
      "TextMessage": "Hello"
    }
  ],
  "Zones": [
    {
      "Channel": [
        "U-VE2CRA DMR",
        "U-VE3STP DMR"
      ],
      "Name": "DMR Repeaters"
    },
    {
      "Channel": [
        "U-VE2CRA FM"
      ],
      "Name": "FM Repeaters"
    },
    {
      "Channel": [
        "433.4500 DMR",
        "441.0000 DMR",
        "446.0750 DMR",
        "446.5000 DMR"
      ],
      "Name": "DMR Simplex"
    },
    {
      "Channel": [
        "446.0000 FM",
        "446.0125 FM",
        "446.0250 FM",
        "446.0375 FM",
        "446.0500 FM",
        "446.0625 FM",
        "446.0750 FM",
        "446.0875 FM",
        "446.1000 FM",
        "446.1125 FM",
        "446.1250 FM",
        "446.1375 FM",
        "446.1500 FM",
        "446.1625 FM",
        "446.1750 FM"
      ],
      "Name": "FM Simplex"
    }
  ]
}
